.home { 

    justify-content: center;
    text-align: center;
    color: white;
    background: fade-out(black, .15);
    margin-top: $s-size;
    margin-bottom: $s-size;
}
.home__image {
   max-width: 20rem;
   border-radius: 50%;
   padding-bottom: $m-size;
}
.home__header {
    font-size: 7.5rem;
}
.home__body {
    font-size: 2.5rem;
}