//colours
$white: rgba(255, 255, 255, 1);
$dark-blue: rgba(0, 23, 31, 1);
$med-blue: rgba(0, 52, 89, 1);
$torq: rgba(0, 126, 167, 1);
$light-blue: rgba(0, 168, 232, 1);
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;